<section>
	<h1><%=data.firstname%> <%=data.lastname%></h1>
	<p>Email: <%=data.email%></p>
	<p>Zipcode: <%=data.zipcode%></p>
	<p>House number: <%=data.house_number%></p>

	<% switch (data.position) { case 'A' : %>
	<p>Position: Aanvaller</p>
	<% break; case 'M' : %>
	<p>Position: Middenveld</p>
	<% break; case 'V' : %>
	<p>Position: Verdediger</p>
	<% break; case 'K' : %>
	<p>Position: Keeper</p>
	<% break; } %>

	<p>Matchday: <%=data.match_day%></p>
	<p><%= data.rating %></p>
</section>
